/*----------------------------------*/
/* BASIC SETUP */
/*----------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

/*----------------------------------*/
/* REUSABLE COMPONENTS */
/*----------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

section p {
  font-family: 'Slabo 27px', serif;
}

.long-copy {
  width: 40%;
  margin: 0 auto;
  font-family: 'Slabo 27px', serif;
  font-size: 130%;
  color: #2980b9;
  text-align: center;
}

/* Headings */

h1, h2, h3 {
  letter-spacing: 2px;
}

h1 {
  text-transform: uppercase;
  font-size: 280%;
  font-weight: 400;
  margin: 0;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  text-transform: uppercase;
  font-size: 220%;
  font-weight: 300;
  padding: 30px 0;
  text-align: center;
}

hr {
  width: 300px;
  margin: 10px auto 15px auto;
  border-top: 2px solid white;
}

h3 {
 font-family: 'Slabo 27px', serif;
 font-weight: 400;
 font-size: 140%;
}

h2:after {
  display: block;
  height: 3px;
  background-color: #2980b9;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

/* Buttons */

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #2980b9;
}

/*----------------------------------*/
/* HEADER */
/*----------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 15, 0.8), rgba(0, 0, 15, 0.8)), url(img/hero-image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  background-attachment: fixed;
}

.nav-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.nav-container img {
  height: 50px;
}

.hero-text-box {
  text-align: center;
  /*width: 400px;*/
  margin: 15% auto;
}

.main-nav li {
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  font-size: 90%;
  margin-left: 15px;
}

/*----------------------------------*/
/* BIO */
/*----------------------------------*/

.section-bio img {
  display: block;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  /*border: 3px solid #2980b9;*/
}

/*----------------------------------*/
/* SKILLS */
/*----------------------------------*/

.section-skills {
  background: #ececec;
}

/*----------------------------------*/
/* PORTFOLIO */
/*----------------------------------*/

/*----------------------------------*/
/* CONTACT */
/*----------------------------------*/

form input,
textarea {
  display: block;
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  background: none;
  text-align: left;
  font-size: 100%;
  /*color: #c4c4c4;*/
  font-family: 'Slabo 27px', serif;
  resize: none;
  outline: none;
}

form input[type=submit]{
  border: none;
  text-align: center;
}

form input[type=submit]:hover {
  color: #2980b9;
}

.section-contact {
  background: #ececec;
}

.form-container {
  width: 500px;
  margin: 0 auto;
}

.form-container p {
  padding: 0 15%;
}

/*----------------------------------*/
/* FOOTER */
/*----------------------------------*/

footer {
  background: #04081A;
  font-size: 70%;
  height: 150px;
}

footer p,
footer i,
footer a {
  color: #665f66;
}

footer i:hover {
  color: #2980b9;
}

footer p {
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  text-transform: uppercase;
  padding: 30px 0;
}

.footer-nav li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.footer-icons {
  width: 150px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 130%;
}
