.animated
  animation-duration: 1s
  animation-fill-mode: both

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.fadeIn
  animation-name: fadeIn

@keyframes zoomIn
  from
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)
  50%
    opacity: 1

.zoomIn
  animation-name: zoomIn

@keyframes fadeInDown
  from
    opacity: 0
    transform: translate3d(0, -100%, 0)
  to
    opacity: 1
    transform: none

.fadeInDown
  animation-name: fadeInDown

@keyframes flash
  from, 50%, to
    opacity: 1
  25%, 75%
    opacity: 0

.flash
  animation-name: flash

@keyframes modalOpen
  from
    opacity: 0
    transform: translateY(400px)
  90%
    transform: translateY(-20px)
  to
    opacity: 1
    transform: translateY(0px)

.modal-open
  animation: modalOpen 0.3s ease-in-out forwards

@keyframes modalClose
  from
    transform: translateY(0px)
  10%
    opacity: 1
    transform: translateY(-20px)
  to
    opacity: 0
    transform: translateY(400px)

.modal-close
  animation: modalClose 0.3s ease-in-out forwards

// NAV OPEN CLOSE

@keyframes navOpen
  from
    opacity: 0
    transform: translateX(400px)
  90%
    transform: translateX(-20px)
  to
    opacity: 1
    transform: translateX(0px)

.nav-open
  animation: navOpen 0.3s ease-in-out forwards

@keyframes navClose
  from
    opacity: 1
    transform: translateX(0px)
  10%
    transform: translateX(20px)
  to
    opacity: 0
    transform: translateX(-400px)

.nav-close
  animation: navClose 0.3s ease-in-out forwards
