doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Charlie Taylor - Web Development &amp; Graphic Arts
    meta(name="description", content="Modern web development and graphic arts, the official website of Charlie Taylor.")
    meta(meta name="author", content="Charlie Taylor")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="https://use.fontawesome.com/d891ebaa12.js")
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
      
  body
    include includes/header
    include includes/bio
    include includes/skills
    include includes/portfolio
    include includes/contact
    include includes/footer
      
    script(src="assets/js/jquery-3.2.1.min.js")
    script(src="assets/js/functions.js")
