doctype html
html(lang="en")  
  head    
    meta(charset="utf-8")
    title Charlie Taylor - Web Development &amp; Graphic Arts
    meta(name="description", content="Modern web development and graphic arts, the official website of Charlie Taylor.")
    meta(meta name="author", content="Charlie Taylor")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="https://use.fontawesome.com/d891ebaa12.js")
    script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous")
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/img/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/img/favicon-16x16.png")
      
  body
    include includes/header
    include includes/bio
    include includes/services
    include includes/skills
    include includes/portfolio
    include includes/modal
    include includes/contact
    include includes/footer
      
    script(src="assets/js/functions.js")
