.section-bio
  text-align: center

  .bio
    text-align: center

    &--img
      display: block
      width: 150px
      border-radius: 50%
      margin: 0 auto 30px
      transition: opacity 0.2s

      &:hover
        opacity: 0.8

    &--text
      margin: 0 auto
      font-size: 1.3rem
      color: $main
      text-align: center
      line-height: 35px

    // &--icons
    //   width: 180px
    //   margin: 45px auto 70px auto
    //   display: flex
    //   justify-content: space-between
    //   font-size: 1.5rem

    //   svg, i
    //     color: $greyicon

    //     &:hover
    //       color: black
