section
  padding: 50px 20px

.row
  margin: 0 auto
  width: 100%
  max-width: 1000px
  display: flex

  &_spaced
    justify-content: space-between

  &_centered
    justify-content: center

  @media (max-width: 640px)
    display: block

.col
  width: 32%
  background: pink

  &_full
    width: 100%

  &_center
    width: 36%

  @media (max-width: 640px)
    width: 100%