.section-portfolio
  // overflow: auto

.projects
  width: 100%
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-auto-rows: 1fr

  @media (max-width: 760px)
    grid-template-columns: repeat(2, 1fr)
  @media (max-width: 480px)
    grid-template-columns: repeat(1, 1fr)

  &::before
    content: ""
    width: 0
    padding-bottom: 100%
    grid-row: 1 / 1
    grid-column: 1 / 1


