.form
  margin: 0 auto
  max-width: 350px

  &--title
    margin: 0

  &--input
    display: block
    padding: 15px
    width: 100%
    margin: 20px auto
    border: none
    border-radius: 10px
    background: $bg-white
    text-align: left
    font-size: 100%
    resize: none
    outline: none
    font-family: $sans-font

    &:focus
      box-shadow: inset 0 4px 4px 0 hsla(0,0%,0%,0.09)

  &--messages
    font-size: 0.8rem
    text-align: center
    font-family: $sans-font