.icons

  &_footer
    width: 150px
    display: flex
    justify-content: space-between

    @media (max-width: 640px)
      width: 200px
      padding: 10px 0

  &_bio
    width: 180px
    margin: 45px auto 70px auto
    display: flex
    justify-content: space-between

          
