.nav
  text-transform: uppercase
  font-family: $sans-font

  &--item
    margin: 0 10px 0 0
    display: inline-block
    letter-spacing: 0.5px
      
    &:last-child
      margin-right: 0
    
    &:hover
      color: $bluehover

    @media (min-width: 640px)
      display: inline-block
      margin: 0 0 3px
      