/* Fonts */
/* San-serif */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* Serif */
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
/* Variables */
/* Animation */
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; }

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

.flash {
  -webkit-animation-name: flash;
          animation-name: flash; }

/* Mixins */
/* Main Setup */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.056em; }

.long-copy, section p, h3, form input, textarea {
  font-family: "Slabo 27px", serif; }

li, i {
  cursor: pointer; }
  li:hover, i:hover {
    color: #2980b9; }

/* Reusables */
.row {
  max-width: 1200px;
  margin: 0 auto; }

section {
  padding: 50px 0; }

hr {
  width: 16em;
  margin: 10px auto 15px auto;
  border-top: 2px solid #ffffff; }

/* Headings */
h1, h2, h3 {
  letter-spacing: 0.03em; }

h1, h2 {
  text-transform: uppercase;
  text-align: center; }

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0; }

h2 {
  font-size: 2.2rem;
  font-weight: 300;
  padding: 30px 0; }

h3 {
  font-weight: 400;
  font-size: 1.4rem; }

h2:after {
  display: block;
  height: 3px;
  background-color: #2980b9;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px; }

/* Buttons */
a {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  color: #2980b9; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/* Grid */
.row-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1.4%; }
  @media (max-width: 760px) {
    .row-grid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 3%; } }

.col {
  margin: 0.7% 0 0.7% 1.4%; }
  @media (max-width: 760px) {
    .col {
      margin: 1% 0 1% 3%; } }

.span-1-of-3 {
  width: 32.26%; }
  @media (max-width: 760px) {
    .span-1-of-3 {
      width: 97%; } }

/* Header Section */
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 15, 0.8)), to(rgba(0, 0, 15, 0.8))), url(/assets/img/hero-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 15, 0.8), rgba(0, 0, 15, 0.8)), url(/assets/img/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 480px) {
    header h1 {
      font-size: 2.2rem; } }
  @media (max-width: 380px) {
    header h1 {
      font-size: 2rem; } }
  @media (max-width: 380px) {
    header h3 {
      font-size: 1.2rem; } }
  header i {
    border: solid #614b63;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 12px; }
  header .nav-container {
    padding: 40px 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1160px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      header .nav-container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    header .nav-container img {
      height: 50px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        header .nav-container img {
          height: 58px; } }
      @media (max-width: 480px) {
        header .nav-container img {
          height: 65px; } }
  header .hero-text-box {
    width: 100%;
    text-align: center;
    padding-bottom: 20px; }
  header .main-nav li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 15px; }
    header .main-nav li:hover {
      color: #2980b9; }
    @media (max-width: 768px) {
      header .main-nav li {
        display: none; } }
  header .arrow {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  header .arrow-box {
    width: 100%;
    text-align: center;
    padding-bottom: 40px; }

/* Bio Section */
.section-bio .bio-wrap {
  max-width: 300px;
  margin: 0 auto; }
  .section-bio .bio-wrap img {
    display: block;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto 30px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    .section-bio .bio-wrap img:hover {
      opacity: 0.8; }
  .section-bio .bio-wrap .bio-text {
    margin: 0 auto;
    font-size: 1.3rem;
    color: #2980b9;
    text-align: center;
    line-height: 35px; }
  .section-bio .bio-wrap .bio-icons {
    width: 180px;
    margin: 45px auto 70px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .section-bio .bio-wrap .bio-icons i {
      color: #bdbdbd;
      font-size: 110%; }
      .section-bio .bio-wrap .bio-icons i:hover {
        color: #131313; }

/* Skills Section */
.section-skills {
  background: #ececec; }
  .section-skills .skills-container {
    margin-bottom: 35px; }
  .section-skills .skills-box {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px 0px #dadada;
            box-shadow: 2px 2px 10px 0px #dadada; }
  .section-skills .skill-titles {
    text-align: center;
    padding: 15px 0; }
    .section-skills .skill-titles i {
      font-size: 300%;
      padding-bottom: 15px; }
  .section-skills p {
    text-align: center; }
    @media (max-width: 768px) {
      .section-skills p {
        font-size: .85rem;
        letter-spacing: 1; } }

/* Portfolio Section */
.section-portfolio {
  overflow: auto; }

.portfolio-img-grid {
  padding: 10px 30px; }
  .portfolio-img-grid .portfolio-item-box {
    display: inline-block;
    float: left;
    position: relative;
    background: #131313;
    width: 100%;
    overflow: hidden;
    margin: 2% 0;
    cursor: pointer; }
    .portfolio-img-grid .portfolio-item-box:hover h3 {
      opacity: 1; }
    @media screen and (min-width: 480px) {
      .portfolio-img-grid .portfolio-item-box {
        width: 48%;
        margin: 1%; } }
    @media screen and (min-width: 780px) {
      .portfolio-img-grid .portfolio-item-box {
        width: 24%;
        margin: 0.5%; } }
  .portfolio-img-grid img {
    width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    margin-bottom: -5px;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }
    .portfolio-img-grid img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0.2; }
  .portfolio-img-grid h3 {
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; }

/* Portfolio Modal */
.modal-bg {
  height: 100%;
  width: 100%;
  background: rgba(19, 19, 19, 0.8);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 1; }
  .modal-bg .modal-content {
    position: relative;
    padding: 10px 50px 40px;
    margin: 5% auto;
    width: 80%;
    background: #ffffff;
    border-radius: 3px;
    -webkit-animation: modalopen 1s;
            animation: modalopen 1s; }
    .modal-bg .modal-content h4 {
      color: #2980b9;
      font-size: 25px; }
    .modal-bg .modal-content img {
      max-width: 100%; }
    .modal-bg .modal-content p {
      margin: 10px 0; }
    .modal-bg .modal-content a {
      color: #2980b9;
      display: block; }
  .modal-bg .close-button {
    color: #bdbdbd;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px; }

.hidden {
  display: none; }

.modal-open {
  overflow: hidden; }

.filtered {
  display: none; }

@-webkit-keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Contact Section */
.section-contact {
  background: #ececec; }
  .section-contact .form-container {
    width: 400px;
    margin: 0 auto; }
    @media (max-width: 500px) {
      .section-contact .form-container {
        width: 90%; } }
    .section-contact .form-container p {
      text-align: center;
      padding: 0 15%; }
    .section-contact .form-container form input, .section-contact .form-container textarea {
      display: block;
      padding: 15px;
      width: 100%;
      margin: 20px auto;
      border: none;
      border-radius: 10px;
      background: #ffffff;
      text-align: left;
      font-size: 100%;
      resize: none;
      outline: none; }
      .section-contact .form-container form input:focus, .section-contact .form-container textarea:focus {
        border: 1px solid #2980b9; }
    .section-contact .form-container .form-messages {
      font-size: .7rem;
      text-align: center; }
    .section-contact .form-container .success {
      color: #2980b9; }
    .section-contact .form-container .error {
      color: red; }
    .section-contact .form-container form input[type=submit] {
      color: #ececec;
      background-color: #2980b9;
      text-align: center;
      width: 40%;
      border-radius: 20px; }
      .section-contact .form-container form input[type=submit]:hover {
        background-color: #1c6391;
        cursor: pointer; }

/* Footer Section */
footer {
  background: #04081A;
  font-size: 0.7rem;
  height: 150px; }
  footer .row {
    padding: 0 20px; }
  footer p, footer i, footer li {
    color: #665f66; }
  footer p {
    text-align: center; }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      footer .footer-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    footer .footer-container .footer-nav {
      text-transform: uppercase;
      padding: 30px 0; }
      @media (max-width: 768px) {
        footer .footer-container .footer-nav {
          padding: 30px 0 0; } }
      footer .footer-container .footer-nav li {
        display: inline-block;
        list-style: none; }
      footer .footer-container .footer-nav li + li {
        margin-left: 20px; }
    footer .footer-container .footer-icons {
      width: 150px;
      margin-left: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media (max-width: 768px) {
        footer .footer-container .footer-icons {
          width: 200px;
          padding: 20px 0; } }
      footer .footer-container .footer-icons i {
        font-size: 16px; }
        @media (max-width: 768px) {
          footer .footer-container .footer-icons i {
            font-size: 21px; } }
