.section-bio
  img
    display: block
    width: 150px
    border-radius: 50%
    margin: 0 auto 30px auto
    transition: opacity 0.2s

    &:hover
      opacity: 0.8

  .bio-icons
    width: 180px
    margin: 45px auto 70px auto
    display: flex
    justify-content: space-between

    i
      color: $greyicon
      font-size: 110%

      &:hover
        color: $black
