footer
  background: $footbg
  font-size: 0.7rem
  height: 150px

  p, i, a
    color: $foottext

  i:hover
    color: $main

  p
    text-align: center

  .footer-container
    display: flex
    align-items: center
    justify-content: space-between

    .footer-nav
      text-transform: uppercase
      padding: 30px 0

      li
        display: inline-block
        list-style: none
        margin-right: 20px

    .footer-icons
      width: 150px
      margin-left: 10px
      display: flex
      justify-content: space-between
      font-size: 16px
