footer
  background: $footbg
  font-size: 0.7rem
  height: 150px

  .row
    padding: 0 20px

  p, i, a
    color: $foottext

  p
    text-align: center

  .footer-container
    display: flex
    align-items: center
    justify-content: space-between

    @media (max-width: 768px)
      flex-direction: column

    .footer-nav
      text-transform: uppercase
      padding: 30px 0

      @media (max-width: 768px)
        padding: 30px 0 0

      li
        display: inline-block
        list-style: none

      li + li
        margin-left: 20px

    .footer-icons
      width: 150px
      margin-left: 10px
      display: flex
      justify-content: space-between

      @media (max-width: 768px)
        width: 200px
        padding: 20px 0

      i
        font-size: 16px

        &:hover
          color: $main

        @media (max-width: 768px)
          font-size: 21px
