header
  background:
    image: linear-gradient(rgba(0, 0, 15, 0.8), rgba(0, 0, 15, 0.8)), url(/assets/img/hero-image.jpg)
    size: cover
    position: center
    attachment: fixed
  height: 100vh
  color: $white
  display: flex
  flex-direction: column
  justify-content: space-between

  i
    border: solid $arrow
    border-width: 0 4px 4px 0
    display: inline-block
    padding: 12px

  .nav-container
    padding-top: 40px
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1140px
    margin: 0 auto

    @media (max-width: 768px)
      flex-direction: column

    img
      height: 50px
      margin-bottom: 20px

  .hero-text-box
    width: 100%
    text-align: center
    padding-bottom: 20px

  .main-nav
    li
      text-transform: uppercase
      list-style: none
      display: inline-block
      font-size: 0.9rem
      margin-left: 15px

      @media (max-width: 768px)
        display: none

  .arrow
    transform: rotate(45deg)

  .arrow-box
    width: 100%
    text-align: center
    padding-bottom: 40px
