.modal-bg
  height: 100%
  width: 100%
  background: rgba($black, 0.9)
  position: fixed
  overflow: auto
  top: 0
  left: 0
  z-index: 1

.modal
  background: $white
  max-width: 80%
  margin: 5% auto
  border-radius: 3px

  @media screen and (min-width: 480px)
    max-width: 300px

  h4
    text-transform: uppercase

.modal-header
  display: flex
  justify-content: space-between
  align-items: center
  background: $greybg
  padding: 1px 10px

  .close-button
    color: $arrow
    font-size: 40px
    cursor: pointer

  h4
    color: $greyicon

.modal-content
  position: relative
  padding: 20px 30px
  text-align: center
  animation: modalopen 1s

  img
    margin: 20px 20px 10px
    border-radius: 100%
    max-width: 150px
  p
    margin: 10px 0 20px
    font-size: .9rem
    color: $greyicon
  a
    font-size: .9rem
    color: $main
    display: block
    margin-bottom: 5px

.modal-footer
  border-top: 1px solid grey
  padding: 10px 15px
  display: flex
  justify-content: space-between

.hidden
  display: none

.modal-open
  overflow: hidden

.filtered
  display: none

button
  font-size: 1.2em
  background-color: $main
  color: $white
  border-style: none
  border-radius: 100%
  text-align: center
  line-height: 40px
  width: 40px
  height: 40px
  margin: 1px
  cursor: pointer
  outline: none

  &:hover
    background-color: darken($main,10%)

  i
    pointer-events: none

@keyframes modalopen
  from
    opacity: 0
  to
    opacity: 1
