.section-skills
  background: $main

  h3
    color: $greybg
    text-align: center
    margin-bottom: 30px

.skills-box
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 20px

  @media screen and (min-width: 740px)
    grid-template-columns: repeat(6, 1fr)
  @media screen and (min-width: 960px)
    grid-template-columns: repeat(9, 1fr)

.icon
  display: inline-block
  background-repeat: no-repeat
  background-image: url(../img/sprite.svg)
  zoom: 150%
  justify-self: center
  width: 32px
  height: 32px

// .icon-babel
//   background-position: 0 0

.icon-css3
  background-position: -32px 0

.icon-express
  background-position: -64px 0

.icon-git
  background-position: -96px 0

.icon-github
  background-position: -128px 0

.icon-heroku
  background-position: 0 -32px

.icon-html5
  background-position: -32px -32px

.icon-illustrator
  background-position: -64px -32px

.icon-jasmine
  background-position: -96px -32px

.icon-javascript
  background-position: -128px -32px

.icon-mysql
  background-position: 0 -64px

.icon-nodejs
  background-position: -32px -64px

.icon-npm
  background-position: -64px -64px

.icon-photoshop
  background-position: -96px -64px

.icon-php
  background-position: -128px -64px

.icon-react
  background-position: 0 -96px

.icon-sass
  background-position: -32px -96px

.icon-webpack
  background-position: -64px -96px

.icon-wordpress
  background-position: -96px -96px