.section-skills
  background: $main
.skills-box
  display: flex
  justify-content: space-between   
  // span
  //   margin-right: 20px

.icon
  display: inline-block
  background-repeat: no-repeat
  background-image: url(../img/sprite.svg)
.icon-babel
  width: 32px
  height: 32px
  background-position: 0 0
.icon-css3
  width: 32px
  height: 32px
  background-position: -32px 0
.icon-express
  width: 32px
  height: 32px
  background-position: -64px 0
.icon-git
  width: 32px
  height: 32px
  background-position: -96px 0
.icon-github
  width: 32px
  height: 32px
  background-position: -128px 0
.icon-heroku
  width: 32px
  height: 32px
  background-position: 0 -32px
.icon-html5
  width: 32px
  height: 32px
  background-position: -32px -32px
.icon-illustrator
  width: 32px
  height: 32px
  background-position: -64px -32px
.icon-jasmine
  width: 32px
  height: 32px
  background-position: -96px -32px
.icon-javascript
  width: 32px
  height: 32px
  background-position: -128px -32px
.icon-mysql
  width: 32px
  height: 32px
  background-position: 0 -64px
.icon-nodejs
  width: 32px
  height: 32px
  background-position: -32px -64px
.icon-npm
  width: 32px
  height: 32px
  background-position: -64px -64px
.icon-photoshop
  width: 32px
  height: 32px
  background-position: -96px -64px
.icon-php
  width: 32px
  height: 32px
  background-position: -128px -64px
.icon-react
  width: 32px
  height: 32px
  background-position: 0 -96px
.icon-sass
  width: 32px
  height: 32px
  background-position: -32px -96px
.icon-webpack
  width: 32px
  height: 32px
  background-position: -64px -96px
.icon-wordpress
  width: 32px
  height: 32px
  background-position: -96px -96px