section.section-bio#bio
  .row
    h2 Bio
    .bio-wrap
      img(src="assets/img/profile-pic.jpg", alt="Charlie Taylor")
      p.long-copy <strong>Hello,</strong> my name is Charlie. I'm A front-end web developer and graphic artist from Leeds. I love making well designed responsive websites and interactive applications.
      .bio-icons
        a(href="https://www.freecodecamp.com/chazmcgrill", aria-hidden="true")
          i.fa.fa-free-code-camp
        a(href="https://twitter.com/charlietdev", aria-hidden="true")
          i.fa.fa-twitter
        a(href="https://github.com/chazmcgrill", aria-hidden="true")
          i.fa.fa-github
        a(href="https://www.linkedin.com/in/charlie-taylor-941434134/", aria-hidden="true")
          i.fa.fa-linkedin
        a(href="https://codepen.io/chazmcgrill/", aria-hidden="true")
          i.fa.fa-codepen
