section.section-contact#contact
  .row
    h2 Contact
    .form-container
      p <strong>I'm currently available for your projects.</strong> please use this form to get in touch with any ideas.
      form(method="post", action="")
        input(type="text", placeholder="name", id="name", required)
        input(type="email", placeholder="email", id="email", required)
        textarea(name="comments", placeholder="your message", data-new-placeholder="your message", rows="5")
        input(type="submit", value="send")
