footer
  .row
    .footer-container
      ul.footer-nav
        li Bio
        li Skills
        li Portfolio
        li Contact

      .footer-icons
        a(href="https://www.freecodecamp.com/chazmcgrill")
          i.fa.fa-free-code-camp(aria-hidden="true")
        a(href="https://twitter.com/charlietdev")
          i.fa.fa-twitter(aria-hidden="true")
        a(href="https://github.com/chazmcgrill")
          i.fa.fa-github(aria-hidden="true")
        a(href="https://www.linkedin.com/in/charlie-taylor-941434134/")
          i.fa.fa-linkedin(aria-hidden="true")
        a(href="https://codepen.io/chazmcgrill/")
          i.fa.fa-codepen(aria-hidden="true")

    p &copy; 2017 Charlie Taylor All Rights Reserved
