footer
  .row
    .footer-container
      ul.footer-nav
        li Bio
        li Skills
        li Portfolio
        li Contact

      .footer-icons
        a(href="https://codepen.io/chazmcgrill/", aria-hidden="true" target="_blank")
          i.fab.fa-codepen
        a(href="https://www.freecodecamp.com/chazmcgrill", aria-hidden="true" target="_blank")
          i.fab.fa-free-code-camp
        a(href="https://github.com/chazmcgrill", aria-hidden="true" target="_blank")
          i.fab.fa-github
        a(href="https://www.linkedin.com/in/charlie-taylor-941434134/", aria-hidden="true" target="_blank")
          i.fab.fa-linkedin
        a(href="https://instagram.com/charlietcoder", aria-hidden="true" target="_blank")
          i.fab.fa-instagram

    p &copy; 2017 Charlie Taylor All Rights Reserved
