header
  nav
    .row
      .nav-container
        img(src="assets/img/logo.png", alt="Charlie Taylor Logo").animated.fadeInDown
        ul.main-nav
          li Bio
          li Skills
          li Portfolio
          li Contact

  .row.animated.fadeIn
    .hero-text-box
      h1 Charlie Taylor
      hr.animated.zoomIn
      h3 Web Developer &amp; Graphic Artist

  .arrow-box
    i.arrow.animated
