header(style="background-image: linear-gradient(rgba(0, 0, 15, 0.8), rgba(0, 0, 15, 0.8)), url(/assets/img/hero-image.jpg); background-size: cover; background-position: center; background-attachment: fixed;")
  nav
    .row
      .nav-container
        img(src="assets/img/logo.png", alt="Charlie Taylor Logo").animated.fadeInDown
        ul.main-nav
          li Bio
          li Services
          li Portfolio
          li Contact

  .row.animated.fadeIn
    .hero-text-box
      h1 Charlie Taylor
      hr.animated.zoomIn
      h3 Web Developer &amp; Graphic Artist

  .arrow-box
    i.arrow.animated
