header
  nav
    .row
      .nav-container
        img(src="assets/img/logo.png", alt="Charlie Taylor Logo").animated.fadeInDown
        ul.main-nav
          li(href="#bio") Bio
          li(href="#skills") Skills
          li(href="#portfolio") Portfolio
          li(href="#contact") Contact

  .row.animated.fadeIn
    .hero-text-box
      h1 Charlie Taylor
      hr.animated.zoomIn
      h3 Web Developer &amp; Graphic Artist

  .arrow-box
    a(href="#bio"): i.arrow
