.modal-bg.hidden
    .modal
      
      .modal-header
        h4 portfolio
        .close-button &times;
      
      .modal-content
        .portfolio-item#pf0
          img(src="assets/img/portfolio-analogclock.jpg", alt="FCC Camper Leaderboard")
          h4 Analog Style Clock
          p Analog style clock created using vanilla javascript. Makes use of loops within pug and sass to create the clock.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/mMjVmy/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/analog-clock") view on github
          
        .portfolio-item.filtered#pf1
          h4 Javascript Calculator
          img(src="assets/img/portfolio-calc.jpg", alt="FCC Camper Leaderboard")
          p Simple arithmetic calculator created using javascript. Includes percentage, decimals and negate functionality.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/QgKvLZ/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/fcc-calculator") view on github
          
        .portfolio-item.filtered#pf2
          h4 Hurricane Charlie Website
          img(src="assets/img/portfolio-hurricanecharlie.jpg", alt="Hurricane Charlie")
          p Personal illustration and art portfolio containing gallery, blog and shop. This was made using bootstrap and jquery.
          a(target="_blank" href="http://www.hurricanecharlie.co.uk") view website
          a(target="_blank" href="https://github.com/chazmcgrill/hurricane-charlie-website") view on github

        .portfolio-item.filtered#pf3
          h4 React Pizza App
          img(src="assets/img/portfolio-pizzabox.jpg", alt="React Pizza App")
          p React app for storing pizza recipes, functionality for adding new recipes and editing or deleting existing recipes. Data is stored locally so when browser is reloaded the information is kept.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/pdOjGm/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/recipe-box") view on github
        
        .portfolio-item.filtered#pf4
          h4 Pomodoro Timer
          img(src="assets/img/portfolio-pomodoro.jpg", alt="FCC Camper Leaderboard")
          p Pomodoro timer for improving time management and workflow. Animated and coded using css and javascript.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/rwGbVR/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/fcc-pomodoroclock") view on github
          
        .portfolio-item.filtered#pf5
          h4 Quote Machine
          img(src="assets/img/portfolio-quote.jpg", alt="Quote Machine")
          p App that generates random quotes collected from an external API. New quotes can be generated and can be shared on twitter.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/jBmygM/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/fcc-quotemachine") view on github
          
        .portfolio-item.filtered#pf6
          h4 React Life App
          img(src="assets/img/portfolio-life.jpg", alt="React Life App")
          p React project based on the cellular automaton 'Life' devised by mathematician John Conway.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/QOoOaj/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/game-of-life") view on github

        .portfolio-item.filtered#pf7
          h4 Simon Game
          img(src="assets/img/portfolio-simon.jpg", alt="Simon Game")
          p A javascript version of the 1970s memory skill game simon. Requires user to repeat a random sequence of lights and sound tones.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/dzvPgp/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/fcc-simongame") view on github
          
        .portfolio-item.filtered#pf8
          h4 TicTacToe
          img(src="assets/img/portfolio-tictactoe.jpg", alt="TicTacToe")
          p Game of noughts and crosses human vs computer. Utilises a minimax algorithm to make the computer unbeatable.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/EwyGOG/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/fcc-tictactoe") view on github
          
        .portfolio-item.filtered#pf9
          h4 TwitchTV App
          img(src="assets/img/portfolio-twitch.jpg", alt="FCC Camper Leaderboard")
          p Application for showing TwitchTV channel data using their API. Shows channel status and links to the video stream.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/oWpVOG/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/fcc-twitchtv") view on github
          
        .portfolio-item.filtered#pf10
          h4 Weather App
          img(src="assets/img/portfolio-weather.jpg", alt="FCC Camper Leaderboard")
          p Provides current weather status for your current location. Uses geolocation and uses two external API's for location and weather.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/BRKaPB/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/fcc-weatherapp") view on github

        .portfolio-item.filtered#pf11
          h4 Camper Leaderboard
          img(src="assets/img/portfolio-leaderboard.jpg", alt="FCC Camper Leaderboard")
          p React leaderboard showing the top point scoring campers on freecodecamp. It uses an API to populate the data.
          a(target="_blank" href="https://codepen.io/chazmcgrill/full/NwPBWE/") view on codepen
          a(target="_blank" href="https://github.com/chazmcgrill/camper-leaderboard") view on github
        
      .modal-footer
        button.modal-prev
          i.fa.fa-arrow-left
        button.modal-next
          i.fa.fa-arrow-right
