.modal-bg.hidden
  .modal-content
    .close-button &times;
    
    .portfolio-item#pf1
      h4 Analog Style Clock
      img(src="assets/img/portfolio-analogclock.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim njknk veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href="#") view on codepen
      a(href="#") view on github
      
    .portfolio-item.filtered#pf2
      h4 Javascript Calculator
      img(src="assets/img/portfolio-calc.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no  strud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github
      
    .portfolio-item.filtered#pf3
      h4 Hurricane Charlie Website
      img(src="assets/img/portfolio-hurricanecharlie.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github

    .portfolio-item.filtered#pf4
      h4 React Pizza Box
      img(src="assets/img/portfolio-pizzabox.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github
    
    .portfolio-item.filtered#pf5
      h4 Pomodoro Timer
      img(src="assets/img/portfolio-pomodoro.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github
      
    .portfolio-item.filtered#pf6
      h4 Quote Machine
      img(src="assets/img/portfolio-quote.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github
      
    .portfolio-item.filtered#pf7
      h4 React Life App
      img(src="assets/img/portfolio-life.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github

    .portfolio-item.filtered#pf8
      h4 Simon Game
      img(src="assets/img/portfolio-simon.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github
      
    .portfolio-item.filtered#pf9
      h4 TicTacToe
      img(src="assets/img/portfolio-tictactoe.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github
      
    .portfolio-item.filtered#pf10
      h4 Twitch TV App
      img(src="assets/img/portfolio-twitch.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github
      
    .portfolio-item.filtered#pf11
      h4 Weather App
      img(src="assets/img/portfolio-weather.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github

    .portfolio-item.filtered#pf12
      h4 Camper Leaderboard
      img(src="assets/img/portfolio-leaderboard.jpg", alt="FCC Camper Leaderboard")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      a(href="#") view on codepen
      a(href="#") view on github
