.modal-bg.hidden
  .modal-content
    .modal-title
      h4 TEST
      .close-button &times;
    img(src="assets/img/portfolio-leaderboard.jpg", alt="FCC Camper Leaderboard").modal-image
    p.modal-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    a(href="#") view on codepen
    a(href="#") view on github
