section.section-portfolio#portfolio
  .row
    h2 Portfolio

  .row
    .portfolio-img-grid
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-analogclock.jpg" alt="Sass Analog Clock")
          h3 Analog Style Clock
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-calc.jpg" alt="Javascript Calculator")
          h3 Javascript Calculator
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-hurricanecharlie.jpg" alt="Hurricane Charlie")
          h3 Hurricane Charlie Website
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-pizzabox.jpg" alt="Pizzabox App")
          h3 React Pizza Box
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-pomodoro.jpg" alt="Pomodoro App")
          h3 Pomodoro Timer
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-quote.jpg" alt="Quote Machine")
          h3 Quote Machine
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-life.jpg" alt="Life App")
          h3 React Life App
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-simon.jpg" alt="Simon Game")
          h3 Simon Game
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-tictactoe.jpg" alt="Tictactoe Game")
          h3 TicTacToe
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-twitch.jpg" alt="Twitch TV App")
          h3 Twitch TV App
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-weather.jpg" alt="Weather App")
          h3 Weather App
      a(href="#")
        .portfolio-item-box
          img(src="assets/img/portfolio-leaderboard.jpg" alt="FCC Camper Leaderboard")
          h3 Camper Leaderboard
      
  
