section.section-portfolio#portfolio
  .row
    h2 Portfolio

  .row-grid   
    .col.span-1-of-2
      a(href="https://codepen.io/chazmcgrill/full/BRKaPB/") 
        .portfolio-img-box
          img(src="assets/img/portfolio-weather.jpg", alt="Portfolio Local Weather")
          h3 Local Weather App
    .col.span-1-of-2
      a(href="https://codepen.io/chazmcgrill/full/QgKvLZ/") 
        .portfolio-img-box
          img(src="assets/img/portfolio-calc.jpg", alt="Portfolio Javascript Calculator")
          h3 Javascript Calculator
          
  .row-grid
    .col.span-1-of-2
      a(href="http://www.hurricanecharlie.co.uk")
        .portfolio-img-box
          img(src="assets/img/portfolio-hurricanecharlie.jpg", alt="Portfolio Hurricane Charlie Website")
          h3 Hurricane Charlie Website
    .col.span-1-of-2  
      a(href="https://codepen.io/chazmcgrill/full/jBmygM/")
        .portfolio-img-box 
          img(src="assets/img/portfolio-quote.jpg", alt="Portfolio Random Quote Machine")
          h3 Quote Machine
          
  .row-grid      
    .col.span-1-of-2
      a(href="https://codepen.io/chazmcgrill/full/rwGbVR/")
        .portfolio-img-box
          img(src="assets/img/portfolio-pomodoro.jpg" alt="Portfolio Pomodoro Timer")
          h3 Pomodoro Timer
    .col.span-1-of-2
      a(href="https://codepen.io/chazmcgrill/full/oWpVOG/")
        .portfolio-img-box
          img(src="assets/img/portfolio-twitch.jpg" alt="Portfolio Twitch TV Application")
          h3 Twitch TV App
