section.section-portfolio#portfolio
  .row
    h2 Portfolio

  .row
    .portfolio-img-grid
      .portfolio-item-box
        img(src="assets/img/portfolio-analogclock.jpg" alt="Sass Analog Clock" name="pf1")
        h3 Analog Style Clock
      .portfolio-item-box
        img(src="assets/img/portfolio-calc.jpg" alt="Javascript Calculator" name="pf2")
        h3 Javascript Calculator
      .portfolio-item-box
        img(src="assets/img/portfolio-hurricanecharlie.jpg" alt="Hurricane Charlie" name="pf3")
        h3 Hurricane Charlie Website
      .portfolio-item-box
        img(src="assets/img/portfolio-pizzabox.jpg" alt="Pizzabox App" name="pf4")
        h3 React Pizza Box
      .portfolio-item-box
        img(src="assets/img/portfolio-pomodoro.jpg" alt="Pomodoro App" name="pf5")
        h3 Pomodoro Timer
      .portfolio-item-box
        img(src="assets/img/portfolio-quote.jpg" alt="Quote Machine" name="pf6")
        h3 Quote Machine
      .portfolio-item-box
        img(src="assets/img/portfolio-life.jpg" alt="Life App" name="pf7")
        h3 React Life App
      .portfolio-item-box
        img(src="assets/img/portfolio-simon.jpg" alt="Simon Game" name="pf8")
        h3 Simon Game
      .portfolio-item-box
        img(src="assets/img/portfolio-tictactoe.jpg" alt="Tictactoe Game" name="pf9")
        h3 TicTacToe
      .portfolio-item-box
        img(src="assets/img/portfolio-twitch.jpg" alt="Twitch TV App" name="pf10")
        h3 Twitch TV App
      .portfolio-item-box
        img(src="assets/img/portfolio-weather.jpg" alt="Weather App" name="pf11")
        h3 Weather App
      .portfolio-item-box
        img(src="assets/img/portfolio-leaderboard.jpg" alt="FCC Camper Leaderboard" name="pf12")
        h3 Camper Leaderboard
