section.section-services#services
  .row
    h2 Services

  .row
    .services-container
      
      .services-box
        i.fas.fa-pencil-alt.fa-3x(aria-hidden="true")
        h3 Design
        p Every project is carefully planned using sketches, mind maps and wireframes. I come from a graphic arts background so I really enjoy a design challenge.
          
      .services-box
        i.fas.fa-desktop.fa-3x(aria-hidden="true")
        h3 Code
        p I'm confident in a range of technologies and love learning new ones. I like to keep my code semantic and well documented so it's easy to maintain and understand.
          
      .services-box
        i.fas.fa-server.fa-3x(aria-hidden="true")
        h3 Build
        p Your project is always built with optimisation, accessibility and security in mind. If required I can also provide hosting and domain services.
        
