section.section-services#services
  .row
    h2 Services

  .row
    .services-container
      
      .services-box
        i.fas.fa-pencil-alt.fa-3x(aria-hidden="true")
        h3 Design
        p For every project I carefully plan ideas using sketches, mind maps and wireframes. I have a strong background in graphic arts and illustration. I'm fluent in many Adobe programs including Photoshop and Illustrator.
          
      .services-box
        i.fas.fa-desktop.fa-3x(aria-hidden="true")
        h3 Code
        p I build sites and applications using HTML CSS and Javascript. I keep my code semantic and well documented so it is easy to maintain and understand. I'm also confident in a range of libraries like jQuery and Bootstrap.
          
      .services-box
        i.fas.fa-server.fa-3x(aria-hidden="true")
        h3 Build
        p My projects are precompiled from Sass and Pug using CodeKit. I manage changes and version control through GitHub. I'm currently studying backend technologies such as Node, mySQL and PHP.
        
