section.section-skills#skills
  .row
    h2 Skills

  .row.skills-container
    .col.span-1-of-3.skills-box
      .skill-titles
        i.fa.fa-pencil-square-o(aria-hidden="true")
        h3 Design
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo hic quos repellendus sunt sit, aut, rem, natus error suscipit itaque culpa qui cupiditate dolore est nesciunt, commodi cum ex non.
    .col.span-1-of-3.skills-box
      .skill-titles
        i.fa.fa-desktop(aria-hidden="true")
        h3 Code
      p Voluptates, quas, sapiente quam, eius consequuntur fuga a odio reiciendis explicabo, quibusdam voluptatem! animi harum aspernatur, consequuntur tempore officia.
    .col.span-1-of-3.skills-box
      .skill-titles
        i.fa.fa-server(aria-hidden="true")
        h3 Deployment
      p Non omnis officiis quo doloribus quia, veritatis distinctio itaque.consectetur adipisicing elit. Voluptates, quas, sapiente quam, eius consequuntur.
