section.section-skills#skills
  .row
    h3 Technologies used:
    .skills-box
      //- div.icon.icon-html5
      //-   span.tool-tip(tool-title="html5")
      //- div.icon.icon-css3
      //-   span.tool-tip(tool-title="css3")
      //- div.icon.icon-sass
      //-   span.tool-tip(tool-title="sass")
      //- div.icon.icon-javascript
      //-   span.tool-tip(tool-title="javascript")
      //- div.icon.icon-jasmine
      //-   span.tool-tip(tool-title="jasmine")
      //- div.icon.icon-react
      //-   span.tool-tip(tool-title="react")
      //- div.icon.icon-mysql
      //-   span.tool-tip(tool-title="mysql")
      //- div.icon.icon-php
      //-   span.tool-tip(tool-title="php")
      //- div.icon.icon-wordpress
      //-   span.tool-tip(tool-title="wordpress")
      //- div.icon.icon-git
      //-   span.tool-tip(tool-title="git")
      //- div.icon.icon-github
      //-   span.tool-tip(tool-title="github")
      //- div.icon.icon-npm
      //-   span.tool-tip(tool-title="npm")
      //- div.icon.icon-nodejs
      //-   span.tool-tip(tool-title="nodejs")
      //- div.icon.icon-webpack
      //-   span.tool-tip(tool-title="webpack")
      //- div.icon.icon-express
      //-   span.tool-tip(tool-title="express")
      //- div.icon.icon-heroku
      //-   span.tool-tip(tool-title="heroku")
      //- div.icon.icon-illustrator
      //-   span.tool-tip(tool-title="illustrator")
      //- div.icon.icon-photoshop
      //-   span.tool-tip(tool-title="photoshop")
        
      div.icon.icon-html5(tool-title="html5")
      div.icon.icon-css3(tool-title="css3")
      div.icon.icon-sass(tool-title="sass")
      div.icon.icon-javascript(tool-title="javascript")
      div.icon.icon-jasmine(tool-title="jasmine")
      div.icon.icon-react(tool-title="react")
      div.icon.icon-mysql(tool-title="mysql")
      div.icon.icon-php(tool-title="php")
      div.icon.icon-wordpress(tool-title="wordpress")
      div.icon.icon-git(tool-title="git")
      div.icon.icon-github(tool-title="github")
      div.icon.icon-npm(tool-title="npm")
      div.icon.icon-nodejs(tool-title="nodejs")
      div.icon.icon-webpack(tool-title="webpack")
      div.icon.icon-express(tool-title="express")
      div.icon.icon-heroku(tool-title="heroku")
      div.icon.icon-illustrator(tool-title="illustrator")
      div.icon.icon-photoshop(tool-title="photoshop")