section.section-skills#skills
  .row
    h2 Skills

  .row
    .row-grid.skills-container
      .col.span-1-of-3.skills-box
        .skill-titles
          i.fa.fa-pencil-square-o(aria-hidden="true")
          h3 Design
        p For every project I carefully plan ideas using sketches, mind maps and wireframes. I have a strong background in graphic arts and illustration. I'm fluent in many Adobe programs including Photoshop and Illustrator.
      .col.span-1-of-3.skills-box
        .skill-titles
          i.fa.fa-desktop(aria-hidden="true")
          h3 Code
        p I build sites and applications using HTML CSS and Javascript. I keep my code semantic and well documented so it is easy to maintain and understand. I am also confident in a range of libraries like jQuery and Bootstrap.
      .col.span-1-of-3.skills-box
        .skill-titles
          i.fa.fa-server(aria-hidden="true")
          h3 Build
        p My projects are precompiled from Sass and Pug using CodeKit. I manage changes and version control through GitHub. I am currently studying backend technologies such as Node, mySQL and PHP.
        
