section.section-skills#skills
  .row
    h3 Technologies used:
    .skills-box
      span.icon.icon-html5
      span.icon.icon-css3
      span.icon.icon-sass
      span.icon.icon-javascript
      span.icon.icon-jasmine
      span.icon.icon-react
      span.icon.icon-mysql
      span.icon.icon-php
      span.icon.icon-wordpress   
      span.icon.icon-git
      span.icon.icon-github
      span.icon.icon-npm
      span.icon.icon-nodejs
      span.icon.icon-webpack
      span.icon.icon-express
      span.icon.icon-heroku
      span.icon.icon-illustrator
      span.icon.icon-photoshop