.bioSection
    padding: 1rem 0
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    column-gap: 2rem

.bioSectionText
    padding-top: 2rem
    
.bioImage
    height: 500px
    border-radius: 1rem
    background-color: #2D2F3A

    

