.navbar
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 1rem 0

.title h3,
.title h4
    margin: 0 0 0.1rem

.jobDescription
    font-weight: 300
