.projectsSection
    background-color: #2D2F3A
    border-radius: 1rem
    padding: 2rem
    margin: 1rem -1rem

.projectsHeader
    display: flex
    justify-content: space-between

    h2
        margin: 0

.projectGrid
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 2rem
    margin: 2rem 0 0

.projectItem
    width: 100%
    margin-bottom: 2rem

    h3    
        margin-bottom: 0.3rem

.projecItemImage
    height: 400px
    background-color: #B25A59
    cursor: pointer